* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: rgb(91, 156, 91);
}

#app {
  font-weight: normal;
}

/* :root {
  --primary-bg-colour: rgb(22, 123, 22);
  --secondary-bg-colour: rgb(104, 199, 104);
} */

